* {
	box-sizing: border-box;
}

body, html {
min-height: 100%;
margin: 0;
}


img {
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;

}


body {
	background-color: white
}

.grid-parent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 30px;
	position: relative;



}

.item1 {
	grid-column:  span 2;

	/*background-color: pink;*/
}

.item2 {
	grid-column: span 2;
}



h1 {
	color: black;
	font-family: helvetica;
	font-size: 1.5vw;

}

h2{
	color: #006699;
	font-family: helvetica;
	font-size: 1vw;
}



.banner-article {

	background-color: white;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	top: 8px;
	left: 0px;
	font-size: 1.5vw;
	font-family: helvetica;
	color: #006699;
	font-weight: bold;

}

.banner-event {

	background-color: white;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	top: 8px;
	right: 0px;
	font-size: 1.5vw;
	font-family: helvetica;
	color: #006699;
	font-weight: bold;

}

h1, h2, p {
	line-height: 7px;
}


@media screen and (max-width: 930px){
	.grid-parent {
		grid-template-columns: 1fr;
	}
	.item1 {
	grid-row: span 1;
	
	}
	.item2 {
		grid-row: span 1;
	}

	h1 {
		font-size: 1.5vw;
		
	}

	h2 {
		font-size: 1.25vw;
	}


	.banner-article {
		font-size: 1.5vw;
	}

	.banner-event {
		/*position: absolute;
		top: 312px;
		left: 0px;*/	
		color: white;
	}
	/*i couldnt get it to work so i just made the text white so you cant see it*/

	
	
	img{
		width: 50%
	}

}

